@import url(reset.css);

body { font-size: 13px; background-color: #CDE5E6;}
h1 { font-size: 16px; font-weight: bold; }
h2 { font-size: 13px; font-weight: bold; border-bottom: 1px solid #999;}
#content  { position:relative; width: 1000px; margin-left: 20px; }
#nav { text-align: right; }
#topright { width: 460px; float:right; }
#lifeline { height: 350px; border: 1px solid #999;}
#profile { height: 80px; border: 1px solid black; margin-top: 20px; }
#profile #username { margin-top: 10px; }
#edit_profile { border: 1px solid #999; height: 80px; width: 500px; }
#edit_profile img { float: left; }
#edit_profile form { margin-left: 120px; }
#edit_profile p { margin-top: 15px; }
#following { height: 100px; border: 1px solid #999; overflow: auto;
  margin: 10px 0 20px 0; background-color: #ccf; }
#profile img{ float: left; margin-right: 20px;}
#event { float:left; margin: 20px 0; padding: 5px; width: 455px;
  border: 1px solid #666; background-color: #eee; }
#event form label {
  display:block;
  float:left;
  width:140px;
  margin-right: 10px;
  text-align: right;
  font-weight:bold;
  font-size: 11px;
}
#event input { font-size: 10px; }
#event form p { padding: 1px 0; }
#event_start_date, #event_end_date { width: 210px; }
#errors {color: red; }
.buttons { text-align: center; }

#results { margin: 20px 0; width: 800px; border: 1px solid #666; }
#results th {background-color: #ccc; padding: 5px; }
#results td {padding: 2px; border-bottom: 1px dashed #666; }

#activity { margin: 20px 0; width: 800px; border: 1px solid #666; }
#activity th {background-color: #ccc; padding: 5px; }
#activity td {padding: 2px; border-bottom: 1px dashed #666; }


#search_text p { margin: 5px; }

#clear { clear: both; }
