<h1>User Search</h1>

<% form_tag(users_path(@plan), :method => :get) do -%>
  <input name="query" type="text" value="<%=params[:query]%>" />
  <input type="submit" value="Search users" />
<% end -%>

<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username, user %></td>
    <td><%=h user.name %></td>
    <td><%=h user.email %></td>
  </tr>
<% end %>
</table>
