<div id="event" class="ui-widget-content" style="padding:15px;background:#fff;">
  <% form_remote_for @event do |f| %>
    <%= render :partial => "events/form", :locals => { :f => f } %>

    <p>
      <%= f.submit "Add New Event", 
        :class => "ui-button ui-state-hover ui-corner-all" %>
      <%= link_to_function "Show/Hide Optional Details",
        "$('optional').toggle()", :id => "optional_toggle" %>
    </p>
  <% end %>
</div>
