<% for vent in @latest %>
  <div id="activity_data">
    <div style="display:inline-block;width:70px;">
      <%= image_tag vent.user.gravatar_url(:size => 60) %>&nbsp;&nbsp;
    </div>
    <div style="display:inline-block;vertical-align:top">
      <br/>
      <%= link_to vent.user.username, vent.user %> added <b><%=h vent.title %></b>
      <%=h vent.get_dates() %>
    </div>
  </div>
<% end %>
