<% for vent in @latest %>
  <div id="activity_data">
    <div><%= image_tag vent.user.gravatar_url(:size => 40) %>&nbsp;&nbsp;
      <%= link_to vent.user.username, vent.user %> added <%=h vent.title %>
      <%=h vent.get_dates() %></div>
  </div>
<% end %>
